[server]
headless = true
enableCORS = false
enableXsrfProtection = false

[browser]
gatherUsageStats = false

[theme]
primaryColor = "#7aa7ff"
backgroundColor = "#f2f7ff"
secondaryBackgroundColor = "#e6f0ff"
textColor = "#0f172a"
font = "sans serif"
